@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: SweiGothicLegCJKtc-Regular;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Regular.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Regular.woff) format("woff");
}
@font-face {
    font-family: SweiGothicLegCJKtc-DemiLight;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-DemiLight.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-DemiLight.woff) format("woff");
  }
@font-face {
    font-family: SweiGothicLegCJKtc-Medium;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Medium.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Medium.woff) format("woff");
}
@font-face {
    font-family: SweiGothicLegCJKtc-Bold;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Bold.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Bold.woff) format("woff");
  }
@font-face {
    font-family: SweiGothicLegCJKtc-Black;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Blcak.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Black.woff) format("woff");
}
@font-face {
    font-family: SweiGothicLegCJKtc-Light;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff) format("woff");
  }
  @font-face {
    font-family: SweiGothicLegCJKtc-Thin;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff) format("woff");
  }


* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.con {
    width: 100vw;
    height: 100vh;
    outline: solid 1x black;

}


header {
    width: 100vw;
    height: 10%;
    outline:solid 1px blue ;
    display: flex;
    justify-content: space-evenly;
    background-color: #A4907C;
    
}

.logo {
    outline: solid 1px blue;
    width: 15%;
    height: 100%;


}

/* navigation */
.nav {
    width: 60%;
    outline: solid 1px blue;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;

}

.pagelink {
    display: flex;
    width: auto;
    height: 100%;
    list-style: none;
    /* outline: solid 1px red; */


}

.pagelink a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #fff;



}

/* popup */
.popup {
    position: absolute;
    background-color: red;

    width: auto;
    height: 300px;

}

.popup.about {

}


/* btn */
.btn {
    width: 10px;
    height: auto;

}

.btn_left {
    background-image: url(../img/btn_left.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.btn_right {
    background-image: url(../img/btn_right.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn_reservation {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    width: 15%;
    height: 7%;
    background-color:#C8B6A6;
    border-radius: 60px 0 0 60px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.btn_reservation:hover {
    margin-bottom: 5px;
    width: 14%;
    height: 6%;
    background-color: #b6a698;
    transition: all 0.5s;
}

.btn_reservation a {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
}

/* 主頁首圖 */
.topics {
    width: 100%;
    height: 90%;
    outline: solid 1px red;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.BrownLines {
    position: absolute;
    top: 20%;
    left: 0;
    width: 50%;
    height: auto;

}

.HomepageTop {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 80%;
    
}

.HomepageRight {
    width: 32%;
    height: 33%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F1DEC9;
}

/* 字型 */

h1 {
    font-family: "Zen Maru Gothic",sans-serif;
    font-weight: 700;
    font-size: 1.2 rem;
    letter-spacing: 6px;
}


/* 看菜單 */
.CheckoutMenu {
    outline: solid 1px red;
    width: 100vw;
    height: 100vh;
    padding: 8% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    outline: solid 1px blueviolet;
    /* background-color: blueviolet; */
    width: 100vw;
    height: 100%;
    display: flex;
    padding: 5% 5%;

}

.menu {
    outline: solid 1px blue;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.menu_item {

}