@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: SweiGothicLegCJKtc-Regular;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Regular.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Regular.woff) format("woff");
}
@font-face {
    font-family: SweiGothicLegCJKtc-DemiLight;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-DemiLight.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-DemiLight.woff) format("woff");
  }
@font-face {
    font-family: SweiGothicLegCJKtc-Medium;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Medium.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Medium.woff) format("woff");
}
@font-face {
    font-family: SweiGothicLegCJKtc-Bold;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Bold.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Bold.woff) format("woff");
  }
@font-face {
    font-family: SweiGothicLegCJKtc-Black;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Blcak.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Black.woff) format("woff");
}
@font-face {
    font-family: SweiGothicLegCJKtc-Light;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff) format("woff");
  }
  @font-face {
    font-family: SweiGothicLegCJKtc-Thin;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff) format("woff");
  }


* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(../img/淺棕色交叉線.png);
    /* background-color: rgba(255, 255, 255,0.6); */
    /* background-blend-mode: lighten; */
    background-position: center center;
    background-size: contain;
    background-repeat: repeat;
}


.con {
    width: 100vw;
    height: 100vh;
    /* outline: solid 1x black; */

}


header {
    width: 100vw;
    height: 10%;
    /* outline:solid 1px blue ; */
    display: flex;
    justify-content: space-evenly;
    background-color: #A4907C;
    
    
}

.logo {
    /* outline: solid 1px blue; */
    width: auto;
    height: auto;


}

/* navigation */
.nav {
    width: 60%;
    /* outline: solid 1px blue; */
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;

}

.pagelink {
    display: flex;
    width: auto;
    height: 100%;
    list-style: none;
    /* outline: solid 1px red; */


}

.pagelink a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #fff;
}
.pagelink.popup {
    flex-direction: column;
    height: auto;
    position: relative;
    padding: 8% 0;
    border-top: solid 1px #fff;
    
}

.pagelink.popup a {
    color: #A4907C;
}




/* btn */
.btn {
    width: 10px;
    height: auto;

}

.btn_left {
    background-image: url(../img/btn_left.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.btn_right {
    background-image: url(../img/btn_right.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn_reservation {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    width: 15%;
    height: 7%;
    background-color:#C8B6A6;
    border-radius: 60px 0 0 60px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.btn_reservation:hover {
    margin-bottom: 5px;
    width: 14%;
    height: 6%;
    background-color: #b6a698;
    transition: all 0.5s;
}

.btn_reservation a {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
}

/* 主頁首圖 */
.topics {
    width: 100%;
    height: 90%;
    /* outline: solid 1px red; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom,white 0%,transparent 65%);
    background-blend-mode: lighten;
}


.BrownLines {
    position: absolute;
    top: 20%;
    left: 0;
    width: 50%;
    height: auto;

}

.HomepageTop {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 80%;
    
}

.HomepageRight {
    width: 32%;
    height: 33%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F1DEC9;
}

/* popup */
.popup {
    position: absolute;
    width: 100px;
    /* border: solid 1px #fff; */
}
.popup.about {
    height: auto;
    background-color: rgba(241, 222, 201,0.9);
    top: 10.3%;
    left: 25%;
    display: none;
}
.popup.popupmenu {
    height: auto;
    background-color: rgba(241, 222, 201,0.9);
    top: 10.3%;
    left: 35.5%;
    display: none;
    
}





/* 字型 */

h1 {
    font-family: "Zen Maru Gothic",sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 6px;
    /* color: #8d7660; */
    color: #000;
    margin-right: -6px;
}
h2 {
    font-family: "Zen Maru Gothic",sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    /* color: #8d7660; */
    color: #000;
    letter-spacing: 4px;
    line-height: 2.5rem;
}


h3 {
    font-family: SweiGothicLegCJKtc-Medium;
    font-size: 1rem;
    /* color: #fff; */
    margin: 0;

}
h3.footer {
    color: #fff;
    font-size: 1.3rem;
}
h6 {
    font-family: SweiGothicLegCJKtc-DemiLight;
    font-size: 1rem;
    /* color: #fff; */
    margin: 0;
}
h6.footer {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;

}


/* 看菜單 */
.CheckoutMenu {
    /* outline: solid 1px red; */
    width: 100vw;
    height: 100vh;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title {
    width: 100vw;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
/* icon */
.icon {
    width: 30px;
    height: 30px;
    background-image: url(../img/bakehat.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.carousel {
    /* outline: solid 1px blueviolet; */
    /* background-color: blueviolet; */
    width: 100vw;
    height: 80%;
    display: flex;
    padding: 5% 5%;

}

.menu {
    /* outline: solid 1px blue; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 0 1%;
}

.menu_item {
    width: auto;
    height: 100%;
    /* outline: solid 3px red; */
    display: flex;
    flex-direction: column;

}

.menu_item_img {
    width: auto;
    height: 80%;
}
.label {
    width: auto;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3% 5%;

}

.label.odd {
    background-color: #A4907C;
    color: #fff;

}
.label.even {
    background-color: #F1DEC9;
    color: #8d7660;

}

/* introduction */
.introduction {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    /* outline: solid 1px blueviolet; */
    padding: 5% 8%;
    background:linear-gradient(to bottom, transparent 0%, white 60%, transparent 100%);
    background-blend-mode: lighten;
}
.section {
    width: 100%;
    height: 50%;
    display: flex;
    
}

.rightarea {
    width: 60%;
    height: 100%;
    /* outline: solid 1px blueviolet; */
    
}
.brownrect {
    position: absolute;
    width: 45%;
    height: 65%;
    background-color: #F1DEC9;
    margin-top: 9%;
}
.brownrect.deep {
    left: 0;
    margin-top: 30%;
    margin-left: 8%;
    background-color: #C8B6A6;
    width: 35%;
    height: 40%;
}

.makingcakes {
    position: absolute;
    width: 45%;
    height: auto;
    margin-left: 6%;
    margin-top: 7%;
    
}
.leftarea {
    /* outline: solid 1px blueviolet; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cake4 {
    position: absolute;
    right: 0;
    width: 80%;
    margin-top: 8%;
}

/* footer */
footer {
    width: 100vw;
    height: 40vh;
    background-color: #A4907C;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    padding: 1% 5%;
}
.footer_section {
    padding: 3% 0;
    width: 33%;
    /* outline: solid 1px white; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    


}